Contact page

<form action="http://localhost:3000/contacts" method="post">
  <input type="text" placeholder="Your email" name="email">
  <br>
  <textarea placeholder="Your message" name="message"></textarea>
  <br>
  <input type="submit">
</form>
