<h2 class="ui header">
  Contact
</h2>

<form class="ui form">
  <div class="field">
    <input type="text" placeholder="Your email" name="email">
  </div>

  <div class="field">
    <textarea placeholder="Your message" name="message"></textarea>
  </div>

  <button class="ui fluid button">Send</button>
</form>

<script>

  $(function() {
    $('.ui.main.menu .contact.item').addClass('active');
    $('form button').on('click', sendMessage);
  });

  function sendMessage(e) {
    e.preventDefault();

    var data = {
      email: $('[name=email]').val(),
      message: $('[name=message]').val()
    };

    $.ajax({
      type: 'POST',
      url: '<%= settings.tracking_base_url %>/api/contacts',
      data: data,
      xhrFields: {
        withCredentials: true
      },
      success: callback,
      error: errorCallback
    });
  }

  function callback() {
    uiButton().removeClass('red')
              .addClass('green')
              .text('Message sent.');
  }

  function errorCallback() {
    uiButton().removeClass('green')
              .addClass('red')
              .text('Message not sent. Please try again.');
  }

  function uiButton() {
    return $('.ui.button');
  }

</script>
