<html>
  <head>
    <title>Foo landing page</title>
    <script src="http://localhost:3000/libs/tracker.js"></script>
  </head>

  <body>

    <ul>
      <li>
        <a href="/">Home</a>
      </li>

      <li>
        <a href="/about">About</a>
      </li>

      <li>
        <a href="/pricing">Pricing</a>
      </li>

      <li>
        <a href="/contact">Contact</a>
      </li>
    </ul>

    <%= yield %>
  </body>
</html>
