<html>
  <head>
    <title>Foo landing page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="<%= settings.tracking_base_url %>/libs/tracker.js"></script>
  </head>

  <body>

    <ul>
      <li>
        <a href="/">Home</a>
      </li>

      <li>
        <a href="/about">About</a>
      </li>

      <li>
        <a href="/pricing">Pricing</a>
      </li>

      <li>
        <a href="/contact">Contact</a>
      </li>
    </ul>

    <%= yield %>
  </body>
</html>
