<html>
  <head>
    <title>Foo landing page</title>
    <link rel="stylesheet" type="text/css" class="ui" href="//oss.maxcdn.com/semantic-ui/2.1.8/semantic.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="<%= settings.tracking_base_url %>/libs/tracker.js"></script>

    <style>

      .main.container {
        margin-top: 60px;
      }

    </style>
  </head>

  <body>

    <div class="ui main text container">
      <div class="ui four item main stackable menu">
        <div class="item home">
          <a href="/">Home</a>
        </div>

        <div class="item about">
          <a href="/about">About</a>
        </div>

        <div class="item pricing">
          <a href="/pricing">Pricing</a>
        </div>

        <div class="item contact">
          <a href="/contact">Contact</a>
        </div>
      </div>

      <%= yield %>
    </div>

  </body>
</html>
